In [ ]:
import numpy as np
import pandas as pd

Como checar a versão do pandas?

In [ ]:
pd.__version__

In [ ]:
pd.show_versions(as_json=True)

Como criar uma Série a partir de uma lista, dicionário, np.array?

In [ ]:
lista = [1, 2, 3, 4, 5, 6.1]
serie1 = pd.Series(lista)
serie1

In [ ]:
dicio = {'a': 1, 'b': 2, 'c': 3}
serie2 = pd.Series(dicio)
serie2

In [ ]:
arr = np.array(np.arange(7))
serie3 = pd.Series(arr)
serie3

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser3 = pd.Series(mydict)
ser3.head()

Converta o index de uma série em coluna de um dataframe

In [ ]:
df1 = ser3.to_frame().reset_index()
df1

Combine duas series em um dataframe

In [ ]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df2 = pd.concat([ser1, ser2], axis=1)
df2

In [ ]:
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

Coloque um nome no index

In [ ]:
ser4 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser4 = ser4.rename_axis('Letras', axis=0)
ser4.name = 'alfabeto' 
ser4.head()

Como remover da serie A os itens da serie B

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

Retorne os itens que não são comuns entre A e B

In [ ]:
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

Retorno percentils, mediana e média da série

In [ ]:
ser5 = pd.Series(np.random.normal(10, 5, 25))
ser5.describe()

Calcule a frequencia de valores únicos na série

In [ ]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser.unique())
print(ser.value_counts())

Mantenha os dois itens mais frequentes e troque os demais por 'Other'

In [ ]:
np.random.RandomState(100)
ser7 = pd.Series(np.random.randint(1, 5, [12]))
print("Top 2 Freq:", ser7.value_counts())
ser7[~ser7.isin(ser7.value_counts().index[:2])] = 'Other'
ser7

Separe em 10 partes iguais e substitua o valor pelo nome da parte

In [ ]:
ser11 = pd.Series(np.random.random(20))
pd.qcut(ser11, 10, labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])

Reshape a serie em um dataframe com 7 linhas e 5 colunas

In [ ]:
ser12 = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser12.values.reshape(7, 5))
df

Descubra a posição dos múltiplos de 3 na serie

In [ ]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser

Extraia os elementos de acordo com a lista pos

In [ ]:
ser14 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser14.filter(pos)

In [ ]:
ser14.take(pos)

stack as séries

In [ ]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
df15 = ser1.append(ser2)
df15

In [ ]:
df15 = pd.concat([ser1, ser2], axis=1)
df15

Retorne a posição dos itens.

In [ ]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[pd.Index(ser1).get_loc(i) for i in ser2]

In [ ]:
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

Calcule o erro quadrado médio das séries

In [ ]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth - pred) ** 2)

Deixe a inicial de cada palavra em maiúscula

In [ ]:
ser18 = pd.Series(['how', 'to', 'kick', 'ass?'])
ser18.str.capitalize()

Calcule o nº de letras em cada palavra da série

In [ ]:
ser19 = pd.Series(['how', 'to', 'kick', 'ass?'])
ser19.str.len()

Calcule a diferença da diferença de nº consecutivos na série

In [ ]:
ser20 = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser20.diff().to_list()

In [ ]:
ser20.diff().diff().to_list()

Converta datas em série temporal

In [ ]:
ser21 = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [ ]:
pd.to_datetime(ser21)

Retorne o dia, o mês, o ano e o dia da semana

In [ ]:
ser22 = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
a = pd.to_datetime(ser22)

In [ ]:
list(a.dt.day)

In [ ]:
list(a.dt.isocalendar().week)

In [ ]:
list(a.dt.dayofyear)

In [ ]:
list(a.dt.weekday)

Coloque o dia 4 nas datas

In [ ]:
ser23 = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [ ]:
from dateutil.parser import parse
ser23.map(lambda x: parse('04 ' + x))